.bg-green {
  background-color: #2e683d;
}

/* Links on mouse-over */
.sidenav-link:hover:not(.active) {
  background-color: #ada8a8;
  color: white;
}

.sidenav-link {
  background-color: #f8f9fa;
  color: black !important;
}

.sidenav-link.active {
  background-color: #ada8a8;
}
