.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #76a17d;
  color: #ffffff;
  /* float: none !important; */
}

.App-header-navbar {
  float: left;
  text-align: center;
  width: 100%;
}

.App-header-login-button {
  float: right;
  width: 84px;
}

.App-header-link,
.App-header-link:hover {
  text-decoration: none !important;
  color: inherit;
}

.App-sidenav {
  margin: 0;
  padding: 0;
  width: 163px;
  background-color: #961f1f;
  position: fixed;
  height: 100%;
  overflow: auto;
  float: left;
}

.App-sidenav a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.App-sidenav a.active {
  background-color: #4caf50;
  color: white;
}

/* Links on mouse-over */
.App-sidenav a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.App-appcontent {
  margin-left: 200px;
  padding: 1px 16px;
  padding-top: 10px;
  float: right;
  width: 100%;
  height: 100%;
  /* height: 1000px; */
}

/* Start login section */
.login-form-2 {
  padding: 20%;
  padding-top: 1%;
  padding-bottom: 5%;
  background: #76a17d;
  /* text-align: center; */
}
.login-form-center {
  padding: 1%;
}
.btnSubmit {
  font-weight: 600;
  width: 50%;
  color: #282726;
  background-color: #fff;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
}
.btnForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.btnForgetPwd:hover {
  text-decoration: none;
  color: #fff;
}
/* End login section */

/* Start tab section */
.app-tabs {
  padding-top: 10px;
}
.app-tab {
  margin-right: 2px;
}
.ds-white-on-blue-nav {
  background: #17a2b8 !important;
  background-color: #17a2b8 !important;
  color: white !important;
}
button.ds-white-on-blue-nav:hover {
  background: #446cad !important;
  color: white !important;
}

.active {
  background: #fbaf33;
}

.card {
  background-color: #d3d3d3 !important;
  width: 60%;
}

.control-panel-label {
  display: block;
}

.control-panel-button {
  float: right;
}

/* End tab section */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
